html {
    font-family: Montserrat;
    font-size: 16px;
}

/*header*/

.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
}

.navigation {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.academy-header {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.academy-header h3 {
    font-weight: 300;
}

.header-nav ul {
    list-style-type: none;
}

.header-nav li {
    display: inline-block;
    padding-right: 16px;
}

/*Body*/

.body {
    position: relative;
    top: 64px;
}


/*Start here section*/

.start-here {
    position: relative;
    display: flex;
    background-color: lightgray;
    z-index: 1;
    align-items: center;
}

.banner-image {
    flex: 1 1 60%;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.banner-image img {
    max-width: 100%;
    height: auto;
}


.learn {
    margin: 24px;
    padding: 24px;
    flex: 1 1 40%;
}

.learn h5 {
    color: white;
    background-color: darkgray;
    text-align: center;
    padding: 15px 8px;
}

/*middle section, it doesn't hurt to keep learning*/

.middle-section {
    display: inline-flex;
    background-color: white;
    align-items: stretch;
    justify-content: center;
}

.figure {
    flex: 1 1 60%;
    height: auto;
    padding: 24px;
}

.figure img {
    max-width: 100%;
    height: auto;
}

.strategist p {
    font-weight: 300;
    font-size: 0.75rem;
}

.emanuel {
    font-weight: 300;
    font-size: 0.82rem;
}

a {
    text-decoration: none;
    font-size: 0.75rem;
}

.information-grid {
    flex: 1 1 40%; 
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}


.orientation, 
.our-campus, 
.guest-lecture {
    display: flex;
    padding: 16px;
    align-items: center;
    border: 1px solid lightgray;
}

.orientation img, 
.our-campus img, 
.guest-lecture img {
    flex: 1 1 35%;
    max-width: 200px;
    min-width: 0px;
    height: auto;
}

.orientation-text,
.campus-text,
.guest-lecturetext {
    flex: 1 1 65%;
    align-items: center;
}

.guest-lecture {
    background-color: lightgray;
}

.complement p {
    font-size: 0.75rem;
}

/*Start Learning section - entire*/

.learning {
    background-color: lightgray;
    display: inline-flex;
    justify-content: center;
}


.three-row {
    align-items: center;
    justify-content: center;
    padding-left: 72px;
    padding-right: 72px;
}

.learning-image img {
    max-width: 100%;
    height: auto;
}

.software-engineering, 
.computer-art,
.design,
.data-course,
.business-course,
.marketing-course {
    padding-right: 32px;
    flex-grow: 1;
    flex-shrink: 1;
}

/*HEADER*/

.learning-header {
    text-align: center;
    padding: 32px;
}

/*FIRST ROW*/

.grid-row-one {
    display: inline-flex;
    justify-content: space-around;
    padding: 32px 72px 24px 72px;
}

/*SECOND ROW*/

.three-row-2 {
    display: inline-flex;
    justify-content: space-around;
}

.data-text, 
.business-text, 
.marketing-text,
.design-text,
.ca-art,
.se {
    background-color: white;
    padding: 16px 40px 24px 16px;
    height: auto;
    justify-content: space-between;
}

/*Thesis exhibit*/

.thesis-sections {
    display: inline-flex;
    background-color: white;
    align-items: flex-start;
    justify-content: space-around;
    height: auto;
}

.thesis h2 {
    padding: 32px;
    text-align: center;
    width: 100%;
}

/*video*/
.video {
    flex-basis: 60%;
    height: auto;
    padding: 24px;
}

video {
    max-width: 100%;
    height: auto;
}

/*on the side of the video*/
.thesis-buttons {
    flex-basis: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fisma {
    background-color: lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fisma img, 
.now-n-then img {
    padding: 16px;
    height: auto;
}

.fisma-img {
    flex-basis: 35%;
    height: auto;
}

.fisma-text {
    flex-basis: 65%;
}

.now-n-then {
    background-color: white;
}