html {
    font-family: Montserrat;
}

/*header*/

.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
}

.navigation {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.academy-header {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.academy-header h3 {
    font-weight: 300;
}

.header-nav ul {
    list-style-type: none;
}

.header-nav li {
    display: inline-block;
    padding-right: 16px;
}

/*Body*/

.body {
    position: relative;
    top: 64px;
    left: 0;
    right: 0;
    width: 100%;
}


/*Start here section*/

.start-here {
    position: relative;
    display: flex;
    background-color: lightgray;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
}

.banner-image img {
    position: relative;
    width: 60%;
    padding-left: 24px;
    top: 32px;
    padding-bottom: 32px;
}


.learn {
    padding-left: 24px;
}

.learn h5 {
    color: white;
    background-color: darkgray;
    text-align: center;
    padding: 8px;
}

/*middle section*/

.middle-section {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.figure {
    max-width: 60%;
    padding-left: 24px;
}

.figure img {
    max-width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.figure h2 {
    text-align: center;
}

.strategist {
    font-weight: 300;
    font-size: 12px;
    padding: 24px;
}

.learning-text {
}

.emanuel {
    font-weight: 300;
    font-size: 13px;
}

.information-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 24px;
}

.information-grid img {
    max-width: 35%;
    height: auto;
    padding-right: 16px;
}

.orientation, .our-campus, .guest-lecture {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.complement p {
    font-weight: 300;
    font-size: 9px;
}