html {
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/

.navigation {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    z-index: 5;
}

.academy-header {
    display: flex;
    align-items: center;
}

.academy-header h3 {
    font-weight: 300;
}

.header-nav ul {
    list-style-type: none;
}

.header-nav li {
    display: inline-block;
    padding-right: 16px;
}

/*Start here section*/

.start-here {
    position: absolute;
    top: 64px;
    display: flex;
    background-color: lightgray;
    z-index: 1;
    align-items: center;
}

.banner-image img {
    top: 64px;
    width: 60% auto;
    left: 24px;
}

.learn {
    padding-left: 24px;
}


