html {
    margin: 0;
    box-sizing: border-box;
}

/*header*/

.navigation {
    position: fixed;
}

.academy-header {
    display: flex;
    align-items: center;
}

.header-nav ul {
    list-style-type: none;
}

.header-nav li {
    display: inline-block;
    padding-right: 16px;
}
